*.o
*.out
*.aux
*.swp
*~
*#
\#*
.nfs*

# This file is patched when required (CMake < 3.1.0) but we don't want to version it
ExternalProject.cmake

doc
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
src/.clang_complete
src/doc
ex/bin
ex/res
src/pagai-debug
gui
build*/
